!!!
%html

  %head
    %title Moray Firth
    %link(rel="stylesheet" href="/stylesheets/main.css")

  %body

    %header

      %h1
        %img(src="/images/bnd_bmijnlieff.png" alt="Bottlenose Dolphin")

    %main

      = yield
